{% macro menuBuilderCreateElement(menuBuilderSideElement) %}

    {% if app.request.get('_route_params')['active_menu'] is defined and app.request.get('_route_params')['active_menu'] is not null %}
        {% set activeMenu = app.request.get('_route_params')['active_menu'] %}
    {% else %}
        {% set activeMenu = null %}
    {% endif %}

    {% for item in menuBuilderSideElement %}
        {# --------- ITEM --------- #}
        {% if item.type is same as "ITEM" %}
            <a href="{{ path(item.pathName) }}"
               class="link-container {% if item.pathName == activeMenu %} active {% endif %}">
                <div class="main-icon">
                    <ion-icon name="{% if item.icon is defined %}{{ item.icon }}{% endif %}"></ion-icon>
                </div>
                <div class="text-link">{% if item.name is defined %}{{ item.name }}{% endif %}</div>
                <div class="second-icon"></div>
            </a>
        {% endif %}
        {# --------- SEPARATOR --------- #}
        {% if item.type is same as "SEPARATOR" %}
            <hr class="separator-container">
        {% endif %}
        {# --------- DROPDOWN --------- #}
        {% if item.type is same as "DROPDOWN" %}
            <div class="drop-container">
                <label for="dropdown-toogle-{{ item.id }}" class="link-container">
                        <span class="main-icon">
                            <ion-icon name="{% if item.icon is defined %}{{ item.icon }}{% endif %}"></ion-icon>
                        </span>
                    <span class="text-link">{% if item.name is defined %}{{ item.name }}{% endif %}</span>
                    <span class="second-icon">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </span>
                </label>
                <input type="checkbox" id="dropdown-toogle-{{ item.id }}" data-toogler="true" hidden>
                <div class="dropdown-container">
                    {% for subItem in item.subItems %}
                        <a href="{{ path(subItem.pathName) }}"
                           class="link-container {% if subItem.pathName == activeMenu %} active {% endif %}">
                            <div class="main-icon">
                                <ion-icon
                                        name="{% if subItem.icon is defined %}{{ subItem.icon }}{% endif %}"></ion-icon>
                            </div>
                            <div class="text-link">{% if subItem.name is defined %}{{ subItem.name }}{% endif %}</div>
                            <div class="second-icon"></div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="" id="sidebar">
    <div class="upper-container">
        {% if menu_builder2.expandable %}
            <label
                    for="sidebar-expand-toogle"
                    class="link-container">
                <span class="main-icon">
                     <ion-icon name="menu-outline"></ion-icon>
                </span>
                <span class="text-link">Expand</span>
                <span class="second-icon">
{#                    <ion-icon name="menu-outline"></ion-icon>#}
                </span>
            </label>
            <input type="checkbox" id="sidebar-expand-toogle" checked="" hidden>
        {% endif %}
        {{ _self.menuBuilderCreateElement(menu_builder2.topElement) }}
    </div>
    <div class="down-container">
        {{ _self.menuBuilderCreateElement(menu_builder2.bottomElement) }}
    </div>
</div>


{{ encore_entry_link_tags('sidebar_css') }}
{{ encore_entry_script_tags('sidebar_js') }}
