@import "./assets/styles/colors.scss";
@import "./assets/styles/font.scss";

// --------------- Disable transitions ---------------
//.preload * {
//  -webkit-transition: none !important;
//  -moz-transition: none !important;
//  -ms-transition: none !important;
//  -o-transition: none !important;
//}


// --------------- SIDEBAR FULLY OPEN NEW---------------
.sidebar {
  transition: 500ms;
  background-color: $bleu;
  color: $orange;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;

  .upper-container,
  .down-container {

    .separator-container {
      display: flex;
      max-width: 80%;
    }

    .link-container {

      &.active {
        background-color: $orange-o30;
      }

      color: $orange;
      text-decoration: none;
      cursor: pointer;
      padding: 4px;
      min-height: 28px;
      height: 28px;
      max-height: 28px;
      animation-timing-function: ease;
      animation-name: animationHoverLinkContainerOut;
      animation-duration: 250ms;
      animation-iteration-count: 1;
      margin-right: 0px;
      border-radius: 0 0 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      .main-icon,
      .second-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
        min-width: 24px;
        min-height: 24px;
      }

      .main-icon {
        padding: 0 4px;
      }

      .second-icon {
        margin-left: auto;
        transition: 250ms;
      }

      &:hover {
        background-color: $orange;
        color: $bleu;
        border-radius: 0 20px 20px 0;
        margin-right: 4px;
        animation-timing-function: ease;
        animation-name: animationHoverLinkContainerIn;
        animation-duration: 250ms;
        animation-iteration-count: 1;
        //box-shadow: orange 0px 0px 4px 1px;
      }
    }

    .drop-container {
      .dropdown-container {
        display: none;
      }
    }

    .drop-container.active {
      background-color: $bleu-darker ;
      .dropdown-container {
        display: flex;
        flex-direction: column;

        .link-container {
          padding-left: 10px;
        }
      }
      .second-icon {
        transition: 250ms;
        transform: rotate(90deg);
      }
    }
  }
}


// --------------- SIDEBAR LOW PROFILE ---------------
.sidebar-low-profile {
  transition: 500ms;
  background-color: $bleu;
  color: $orange;
  font-family: 'Montserrat', sans-serif;
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;

  .upper-container,
  .down-container {

    .separator-container {
      display: flex;
      max-width: 80%;
    }

    .link-container {

      &.active {
        background-color: $orange-o30;
      }

      color: $orange;
      text-decoration: none;
      cursor: pointer;
      padding: 4px;
      min-height: 28px;
      height: 28px;
      max-height: 28px;
      animation-timing-function: ease;
      animation-name: animationHoverLinkContainerOut;
      animation-duration: 250ms;
      animation-iteration-count: 1;
      margin-right: 0px;
      border-radius: 0 0 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      .main-icon,
      .second-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
        min-width: 24px;
        min-height: 24px;
      }

      .main-icon {
        padding: 0 4px;
      }
      .second-icon {
        display: none;
      }


      .text-link {
        display: none;
        //margin-left: 10px;
        //transition: 500ms;
      }

      &:hover {
        background-color: $orange;
        color: $bleu;
        border-radius: 0 20px 20px 0;
        margin-right: 4px;
        animation-timing-function: ease;
        animation-name: animationHoverLinkContainerIn;
        animation-duration: 250ms;
        animation-iteration-count: 1;
        //box-shadow: orange 0px 0px 4px 1px;
      }
    }

    #sidebar-expand-toogle {
      .main-icon {
        display: none;
      }
      .second-icon {
        display: flex;
        background-color: red;
      }
    }

    .drop-container {
      .dropdown-container {
        display: none;
      }
    }

    .drop-container.active {
      background-color: $bleu-darker ;
      .dropdown-container {
        display: flex;
        flex-direction: column;

        .link-container {
          padding-left: 4px;
        }
      }
      .second-icon {
        transition: 250ms;
        transform: rotate(90deg);
      }
    }
  }
}


// --------------- ANIMATIONS ---------------
@keyframes animationHoverLinkContainerIn {
  0% {
    margin-right: 0px;
    border-radius: 0 0px 0px 0;
  }
  20% {
    border-radius: 0 20px 20px 0;
  }
  100% {
    margin-right: 4px;
  }
}

@keyframes animationHoverLinkContainerOut {
  0% {
    border-radius: 0 20px 20px 0;
    margin-right: 4px;
    background-color: $orange;
    color: $bleu;
  }
  20% {
    margin-right: 0px;
  }
  100% {
    //color:red;
    border-radius: 0 0 0 0;

  }
}