body {
    background-color: #3e3e3e;
    display: flex;
    flex-direction: row;
}

.main-content {
    background-color: #3e3e3e;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
    width: 100%;
}