$green: #58b09c;
$bleu: #29335c;
$grey: #534d41;
$orange: #f6ae2d;
$white: #f1f7ed;

// Opacity 50%
$green-o50: rgba(88, 176, 156, 0.5);
$bleu-o50: rgba(41, 51, 92, 0.5);
$grey-o50: rgba(83, 77, 65, 0.5);
$orange-o50: rgba(246, 174, 45, 0.5);
$white-o50: rgba(241, 247, 237, 0.5);


// Opacity 30%
$green-o30: rgba(88, 176, 156, 0.3);
$bleu-o30: rgba(41, 51, 92, 0.3);
$grey-o30: rgba(83, 77, 65, 0.3);
$orange-o30: rgba(246, 174, 45, 0.3);
$white-o30: rgba(241, 247, 237, 0.3);


// darker
$green-darker: #418073;
$bleu-darker: #202848;
$grey-darker: #3f3b31;
$orange-darker: #8f6c18;
$white-darker: #9ca29b;
