{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to {{ app.request.get('_route_params')['active_menu'] }} page ! ✅</h1>

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'G:/Gitlab/menu_builder/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'G:/Gitlab/menu_builder/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>#}
{#    </ul>#}
</div>

{#    {{ dump() }}#}
{#    {{ dump(menu_builder2) }}#}
{#    {{ dump(menu_builder) }}#}

{#{{ app.request.get('_route_params')['active_menu'] }}#}

{#    {% for item in menu_builder %}#}
{#        {% if item.type == "DROPDOWN" %}#}
{#            {% for subitem in item.subItems %}#}
{#                {{ dump(subitem) }}#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    {% endfor %}#}

{% endblock %}
